<table bgcolor="green" height="70%" width="100%" border="0" cellspacing="1">
  <tbody>
  <tr>
    <td width="20" bgcolor="#F0F0F0">-</td>
    <% 10.times do |x| %>
      <td width="20" bgcolor="#D0C088"><%= x + 1 %></td>
    <% end %>
    <% 10.times do |y| %>
    <tr>
      <td bgcolor="#C0C088"><%= y + 1 %></td>
      <% 10.times do |x| %>
        <% town = @towns.find_by(y: y, x: x) %>
        <% if town.present? %>
          <th bgcolor="<%= town.country.color_code %>">
            <font size="2"><%= "#{town.name}［#{town.country.name}］" %></font><br>
            <input type="radio" name="num" value="<%= town.id %>">
          </th>
        <% else %>
          <th>&nbsp;</th>
        <% end %>
      <% end %>
    </tr>
    <% end %>

</tbody></table>