<table border="0" width="100%" height="100%"><tbody><tr><td>
  [ <a href="http://www3.dennsetu.net/bbs/yybbs/yybbs.cgi?list=thread&amp;bann=10" target="_blank">【専用ＢＢＳ</a>/<a href="http://www3.dennsetu.net/bbs/yybbs/yybbs.cgi?list=topic&amp;bann=10" target="_blank">トピ表】</a>]
  [<a href="manual.html" target="_blank">説明書</a>][<a href="ranking.cgi" target="_blank">登録武将一覧</a>]
  [<a href="./ranking2.cgi" target="_blank">名将</a>] [<a href="ranking5.cgi" target="_blank">統計情報</a>]
  [<a href="./map.cgi" target="_blank">勢力図</a>][<a href="http://miki-sayaka.com/shiki.html" target="_blank">史記</a>]

  [ <a href="./light2/light.cgi?name=SHOUYU&amp;mail=34&amp;pass=dummy&amp;mode=COUNTRY_TALK" target="_blank">全国BBS</a> ]
  [【<a href="http://densetu.sakura.ne.jp/admin2.cgi" target="_blank">お問い合わせ</a>】]

  【<a href="./index.cgi" target="_top">ログアウト</a>】<br>



  <table border="0" width="100%">
    <tbody><tr><td bgcolor="#0f6080" colspan="2"><font color="#efffff" size="3"><b>豆板醤国指令:</b><br><br><br>お疲れ様でした<br>おやすみなさい<br>(赤:辛子より)</font></td></tr><tr><td width="50%">
      <table width="100%"><tbody><tr><td width="50%">
        <font color="AA8866"><b>- 大陸地図 -</b></font>
        <table bgcolor="#FFFFFF" width="100%" height="5" border="0" cellspacing="1"><tbody>
        <tr><th colspan="11" bgcolor="442200"><font color="FFFFFF">247年02月</font></th></tr>
        <tr>
          <td width="20" bgcolor="#F0F0F0">-</td>
          <td width="20" bgcolor="#D0C088">1</td><td width="20" bgcolor="#D0C088">2</td><td width="20" bgcolor="#D0C088">3</td><td width="20" bgcolor="#D0C088">4</td><td width="20" bgcolor="#D0C088">5</td><td width="20" bgcolor="#D0C088">6</td><td width="20" bgcolor="#D0C088">7</td><td width="20" bgcolor="#D0C088">8</td><td width="20" bgcolor="#D0C088">9</td><td width="20" bgcolor="#D0C088">10</td></tr><tr><td bgcolor="#C0C088">1</td><th> </th><th> </th><th> </th><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">晋陽</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">南皮</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">薊</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">北平</font><%= image_tag('m_2.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">襄平</font><%= image_tag('m_4.gif') %></th></tr><tr><td bgcolor="#C0C088">2</td><th> </th><th> </th><th> </th><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">上党</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">業</font><%= image_tag('m_3.gif') %></th><th bgcolor="#efffff"><font color="#ffffff">平原</font><%= image_tag('m_4.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">北海</font><%= image_tag('m_1.gif') %></th><th> </th></tr><tr><td bgcolor="#C0C088">3</td><th> </th><th bgcolor="#0f6080"><font color="#ffffff">西涼</font><%= image_tag('m_1.gif') %></th><th> </th><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">河内</font><%= image_tag('m_3.gif') %></th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">濮陽</font><%= image_tag('m_4.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">小沛</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">下ひ</font><%= image_tag('m_3.gif') %></th></tr><tr><td bgcolor="#C0C088">4</td><th bgcolor="#0f6080"><font color="#ffffff">西平</font><%= image_tag('m_1.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">天水</font><%= image_tag('m_4.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">安定</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">長安</font><%= image_tag('m_3.gif') %></th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">洛陽</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">陳留</font><%= image_tag('m_3.gif') %></th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">寿春</font><%= image_tag('m_3.gif') %></th><th> </th></tr><tr><td bgcolor="#C0C088">5</td><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">武都</font><%= image_tag('m_1.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">漢中</font><%= image_tag('m_3.gif') %></th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">宛</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">許昌</font><%= image_tag('m_1.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">汝南</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">廬江</font><%= image_tag('m_3.gif') %></th><th> </th></tr><tr><td bgcolor="#C0C088">6</td><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">梓潼</font><%= image_tag('m_1.gif') %></th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">上庸</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">襄陽</font><%= image_tag('m_1.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">新野</font><%= image_tag('m_4.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">江夏</font><%= image_tag('m_4.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">柴桑</font><%= image_tag('m_4.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">建業</font><%= image_tag('m_1.gif') %></th></tr><tr><td bgcolor="#C0C088">7</td><th> </th><th bgcolor="#0f6080"><font color="#ffffff">成都</font><%= image_tag('m_1.gif') %></th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">江州</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">永安</font><%= image_tag('m_3.gif') %></th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">江陵</font><%= image_tag('m_1.gif') %></th><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">呉</font><%= image_tag('m_1.gif') %></th></tr><tr><td bgcolor="#C0C088">8</td><th> </th><th bgcolor="#0f6080"><font color="#ffffff">建寧</font><%= image_tag('m_1.gif') %></th><th> </th><th> </th><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">武陵</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">長沙</font><%= image_tag('m_3.gif') %></th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">会稽</font><%= image_tag('m_1.gif') %></th></tr><tr><td bgcolor="#C0C088">9</td><th bgcolor="#0f6080"><font color="#ffffff">永昌</font><%= image_tag('m_1.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">雲南</font><%= image_tag('m_1.gif') %></th><th> </th><th> </th><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">零陵</font><%= image_tag('m_1.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">桂陽</font><%= image_tag('m_3.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">建安</font><%= image_tag('m_4.gif') %></th><th> </th></tr><tr><td bgcolor="#C0C088">10</td><th> </th><th> </th><th> </th><th> </th><th bgcolor="#0f6080"><font color="#ffffff">交趾</font><%= image_tag('m_1.gif') %></th><th bgcolor="#0f6080"><font color="#ffffff">南海</font><%= image_tag('m_1.gif') %></th><th> </th><th> </th><th> </th><th> </th></tr></tbody></table>
      </td></tr>
      <tr><td>

        <table width="100%" bgcolor="#0f6080" cellspacing="2">
          <tbody bgcolor="#efffff">
          <tr>
            <th bgcolor="#0f6080" colspan="2">
              <font color="#efffff">平原【都市レベル:2】【都市予算：4530Ｇ】</font>
            </th>
          </tr>
          <tr>
            <td>
              支配国
            </td>
            <th bgcolor#d0c088="">
              豆板醤国
            </th>
          </tr>
          <tr>
            <td>
              平原都知事（都市の責任者）
            </td>
            <th bgcolor#d0c088="">
              パン
            </th>
          </tr>
          <tr>
            <td>
              農民数
            </td>
            <td align="right">
              <%= @user.town.farmer %>
            </td>
          </tr>
          <tr>
            <td>民忠</td>
            <td align="right">0</td>
          </tr>
          <tr>
            <td>農業値</td>
            <td align="right" nowrap=""><%= image_tag('bar1.gif', width: "59%", height: 5) %><%= image_tag('bar2.gif', width: "41%", height: 5) %><br><%= @user.town.agriculture %>/922</td>
          </tr>
          <tr>
            <td>商業値</td>
            <td align="right" nowrap=""><%= image_tag('bar1.gif', width: "58%", height: 5) %><%= image_tag('bar2.gif', width: "42%", height: 5) %><br><%= @user.town.commerce %>/951</td>
          </tr>
          <tr>
            <td>技術値</td>
            <td align="right" nowrap=""><%= image_tag('bar1.gif', width: "8%", height: 5) %><%= image_tag('bar2.gif', width: "92%", height: 5) %><br><%= @user.town.technology %>/999</td>
          </tr>
          <tr>
            <td>城壁数</td>
            <td align="right" nowrap=""><%= image_tag('bar1.gif', width: "32%", height: 5) %><%= image_tag('bar2.gif', width: "68%", height: 5) %><br><%= @user.town.wall %>/800</td></tr>
          <tr>
            <td>城壁耐久力</td>
            <td align="right" nowrap=""><%= image_tag('bar1.gif', width: "28%", height: 5) %><%= image_tag('bar2.gif', width: "72%", height: 5) %><br><%= @user.town.wall_durability %>/1000</td></tr>
          <tr>
            <td>米金相場</td>
            <td align="right" nowrap="">1.2</td></tr>
          <tr>
            <td>税率</td><td align="right" nowrap="">0％</td></tr>
          </tbody>
        </table>

        <table width="100%" bgcolor="#0f6080" cellspacing="1">
          <tbody bgcolor="#efffff">
          <tr><td>平原の守備(人)</td><td></td></tr>
          <tr><td>平原の施設</td>
            <td>
              <table><tbody><tr><td>
                <form action="./mydata.cgi" method="post">
                  <input type="hidden" name="douzyo_pos" value="7">
                  <input type="submit" value="平原の道場">
                </form>
              </td><td>
                <form action="./mydata.cgi" method="post">
                 <input type="submit" value="都市防衛設備">
                </form>
              </td><td>
                <form action="./mydata.cgi" method="post">
                  <input type="hidden" name="type" value="7">
                  <input type="submit" value="平原の都知事司令室">
                </form>



              </td></tr></tbody></table>
            </td>
          </tr>
          </tbody>
        </table>

      </td></tr><tr><td>
        <table width="100%" bgcolor="#0f6080" cellspacing="1"><tbody bgcolor="#efffff">
        <tr><th bgcolor="#0f6080" colspan="8"><font color="#efffff">■国名：豆板醤国【国庫金：15698273】 <br>【平均内政率：70％】【貧困率：0％ （一揆発生率：0％）】</font></th></tr>
        <tr><td>赤（君主）</td><th colspan="2">辛子</th><td>豆腐（軍師）</td><th colspan="2">そば</th></tr>
        <tr><td>支配都市</td><td align="right">50</td><td>収穫</td><td align="right">2669353</td>
          <td>税金</td><td align="right">2675459</td></tr>

        <tr>
          <td>

            ■豆板醤国の施設<br>

          </td>


          <td colspan="2">
            <form action="./mydata.cgi" method="post">
              <input type="hidden" name="mode" value="COUNTRY_TALK">
              <input type="submit" value="会議室">
            </form>
            <form action="./mydata.cgi" method="post">
              <input type="hidden" name="mode" value="LOCAL_RULE">
              <input type="submit" value="お触書">
            </form>

          </td>
          <td colspan="3">

            <form action="./mycou.cgi#rog" method="post">
              <input type="submit" value="国庫ログ">
            </form>

            <form action="./mydata.cgi" method="post">
              <input type="hidden" name="mode" value="DOZYO">
              <select name="douzyo_pos">
                <option value="0">晋陽 : 人望官道場(LV:1)</option><option value="1">南皮 : 文官道場(LV:1)</option><option value="2">薊 : 稲作道場(LV:5)</option><option value="3">北平 : 金策道場(LV:5)</option><option value="4">襄平 : 武官道場(LV:1)</option><option value="5">上党 : 戦闘道場(LV:2)</option><option value="6">業 : おみくじ道場(LV:5)</option><option value="7">平原 :道場無し (LV:0)</option><option value="8">北海 : 兵法道場(LV:3)</option><option value="9">西涼 : 統率官道場(LV:5)</option><option value="10">河内 :道場無し (LV:0)</option><option value="11">濮陽 :道場無し (LV:0)</option><option value="12">小沛 :道場無し (LV:0)</option><option value="13">下ひ :道場無し (LV:0)</option><option value="14">西平 : 戦闘道場(LV:3)</option><option value="15">天水 :道場無し (LV:0)</option><option value="16">安定 :道場無し (LV:0)</option><option value="17">長安 :道場無し (LV:0)</option><option value="18">洛陽 :道場無し (LV:0)</option><option value="19">陳留 :道場無し (LV:0)</option><option value="20">寿春 :道場無し (LV:0)</option><option value="21">武都 : 兵法道場(LV:5)</option><option value="22">漢中 :道場無し (LV:0)</option><option value="23">宛 :道場無し (LV:0)</option><option value="24">許昌 :道場無し (LV:0)</option><option value="25">汝南 :道場無し (LV:0)</option><option value="26">廬江 :道場無し (LV:0)</option><option value="27">梓潼 : 稲作道場(LV:5)</option><option value="28">上庸 :道場無し (LV:0)</option><option value="29">襄陽 :道場無し (LV:0)</option><option value="30">新野 :道場無し (LV:0)</option><option value="31">江夏 :道場無し (LV:0)</option><option value="32">柴桑 :道場無し (LV:0)</option><option value="33">建業 :道場無し (LV:0)</option><option value="34">成都 : 人望官道場(LV:5)</option><option value="35">江州 :道場無し (LV:0)</option><option value="36">永安 :道場無し (LV:0)</option><option value="37">江陵 :道場無し (LV:0)</option><option value="38">呉 : 金策道場(LV:4)</option><option value="39">建寧 : 文官道場(LV:5)</option><option value="40">武陵 : 人望官道場(LV:1)</option><option value="41">長沙 : 稲作道場(LV:5)</option><option value="42">会稽 :道場無し (LV:0)</option><option value="43">永昌 : 武官道場(LV:5)</option><option value="44">雲南 : 金策道場(LV:5)</option><option value="45">零陵 : 金策道場(LV:5)</option><option value="46">桂陽 : 統率官道場(LV:1)</option><option value="47">建安 : 戦闘道場(LV:5)</option><option value="48">交趾 : 文官道場(LV:1)</option><option value="49">南海 : 武官道場(LV:2)
              </option></select>
              <br><input type="submit" value="他都市道場へ移動"></form>


          </td></tr>

        <tr>
          <td colspan="6">
            <table width="100%" bgcolor="#0f6080" cellspacing="1">
              <tbody bgcolor="#efffff">
              <tr>
                <td>オ<br>ン<br>ラ<br>イ<br>ン</td><td>
                卵焼き[武都]<b>SHOUYU()[平原]</b>
              </td>
              </tr>
              </tbody>
            </table>
          </td>



        </tr>





        <tr><th>開戦設定</th><th colspan="7"><br>
          <br></th></tr>

        </tbody></table>
      </td></tr>
      <tr><td>



        <table width="100%" bgcolor="#0f6080" cellspacing="1"><tbody bgcolor="#efffff">
        <tr>
          <th colspan="9" bgcolor="#0f6080">
            <font color="#efffff"><%= @user.name %>【勤続7年8ヶ月】【攻撃力：<%= @user.attack %> (＋0)】【守備力：<%= @user.defence %>(＋10)】</font>
          </th>
        </tr>

        <tr><td rowspan="4" width="5"><%= image_tag('34.gif') %></td><td>武力</td><th><%= @user.strength %></th><td>知力</td><th><%= @user.intelligence %></th><td>統率力</td><th><%= @user.leadership %></th><td>人望</td><th><%= @user.charm %></th></tr>
        <tr><td>武EX</td><th><%= @user.strength_exp %></th><td>知EX</td><th><%= @user.intelligence_exp %></th><td>統EX</td><th><%= @user.leadership_exp %></th><td>人望EX</td><th><%= @user.charm_exp %></th></tr>
        <tr><td>金</td><th><%= @user.gold %></th><td>米</td><th><%= @user.rice %></th><td>所属</td><th>豆板醤国</th><td>部隊</td><th>伝説リプレイス部</th></tr>
        <tr><td>階級</td><th>始皇帝</th><td>貢献</td><th>30</th><td>階級値</td><th colspan="3"><%= @user.rank %></th></tr>

        <tr>
          <td>兵種</td>
          <th colspan="4"><%= "#{@user.soldier.name_with_rank}:#{@user.soldier.attribute_label}" %></th>
          <td>兵士</td><th><%= @user.soldier_num %></th><td>訓練</td><th><%= @user.training %></th></tr>
        <tr><td>武器</td><th colspan="7">竹槍</th><th><%= @user.arm %></th></tr>
        <tr><td>防具</td><th colspan="7">普通のTシャツ</th><th><%= @user.guard %></th></tr>
        <tr><td>書物</td><th colspan="7">二コ厨入門書</th><th><%= @user.book %></th></tr>
        <tr><td>旗</td><th colspan="7">日の丸</th><th><%= @user.flag %></th></tr>
        <tr><td>ON率</td><th colspan="7">251 / 729</th><th>34.43％</th></tr>
        <tr><td>陣形</td><th colspan="3">伝説の陣</th><th colspan="5">攻守がそれぞれ１３％UP。特に苦手な陣も得意な陣も無い。</th></tr>
        <form action="./mydata.cgi" method="post"></form><tr><td>陣形変更</td><th colspan="10">
          <input type="hidden" name="mode" value="ZINKEI">

          <select name="zinkei">
            <option value="">選択してください
            </option><option value="1"> 魚鱗の陣（勝0回：負1回） </option><option value="2"> 偃月の陣（勝0回：負0回） </option><option value="3"> 雁行の陣（勝0回：負0回） </option><option value="4"> 鶴翼の陣（勝0回：負0回） </option><option value="5"> 鋒矢の陣（勝0回：負0回） </option><option value="6"> 衝軛の陣（勝0回：負0回） </option><option value="7"> 長蛇の陣（勝2回：負0回） </option><option value="8"> 方円の陣（勝0回：負2回） </option><option value="9"> 車懸りの陣（勝0回：負0回） </option><option value="10"> 虎の陣（勝0回：負0回） </option><option value="11"> 諸刃の陣（勝0回：負0回） </option><option value="12"> 鈍刃の陣（勝4回：負30回） </option><option value="13"> 伝説の陣（勝2回：負5回）
          </option></select>
          <input type="submit" value="変更">
        </th></tr>
        <tr><td colspan="6">

          <form action="./mydata.cgi" method="post">
            <input type="hidden" name="mode" value="LETTER">
            <input type="submit" value="個人宛手紙送信"><br>
          </form>


          <form action="./mydata.cgi" method="post">
            <input type="hidden" name="mode" value="UNIT_SELECT">
            <input type="submit" value="部隊所属申請＆設立">
            <br>
          </form>


          <form action="./mylog2.cgi" method="post">
            <input type="hidden" name="id" value="dummy">
            <input type="hidden" name="eeeranku" value="35">
            <input type="hidden" name="pass" value="dummy">
            <input type="submit" value="国民のコマンド・更新時間を確認"><br>
          </form>

        </td><td colspan="3">


          <form action="./mydata3.cgi" method="post">
            <input type="hidden" name="mode" value="STATUS">
            <input type="submit" value="各種設定変更＆過去ログ"><br>
            行動ログ(400件)もこちらです。
          </form>

          <form action="./mydata4.cgi" method="post">
            <input type="hidden" name="mode" value="STATUS">
            <input type="submit" value="スキル取得・スキル一覧"><br>

          </form>


          <form action="./mydata5.cgi" method="post">
            <input type="hidden" name="mode" value="STATUS">
            <input type="submit" value="各種ランキング・特殊技能一覧"><br>

          </form>


        </td></tr>
        </tbody></table>




        <br>

        <table width="100%"><tbody><tr><td>



          <form action="./map_edit_v030b2/edit.cgi" method="post" target="_blank">
            <h2>■マップエディダー■</h2>
            ※マップを制作できます。<br>
            ※ゲームには関係ありません<br>
            ※面白いMAPなら次期のマップとして採用されるかも・・・<br>
            <input type="submit" value="マップエディダー"></form>


        </td><td align="right">
          <table bgcolor="#0f6080" cellspacing="1"><tbody bgcolor="#efffff">
          <tr><th bgcolor="#0f6080"><font color="#efffff">画面RELODE</font></th></tr>
          <tr><th>
            <br><br>
            <%= button_to "画面RELODE", home_index_url, {method: :get} %>
            <%= button_to "【デバッグ機能】コマンド実行", dubug_execute_command_url, {method: :post} %>
            <br>
            <br><br>
          </th></tr><tr><td><br><%= "次のターンまで#{@user.left_seconds_to_update_time / 60}分(#{@user.left_seconds_to_update_time}秒)" %><br>放置削除ターンまで<font color="red"><%= @user.delete_turn %></font>ターン<br><br></td></tr>
          </tbody></table>
          <br><br>
        </td></tr></tbody></table>








      </td></tr>




      </tbody></table>

    </td><td valign="top">




      <table width="100%" bgcolor="#884422" cellspacing="1"><tbody bgcolor="#F0F0F0">
      <tr><th bgcolor="#000000" colspan="3"><font color="#FFFFFF">コマンドリスト（上から順に実行されていきます。）</font></th></tr>
      <%
        game = @game.deep_dup
        next_update_time = @user.next_update_time
      %>
      <% 50.times do |i| %>
        <% command = @commands.find { |command| command.command_no == i } %>
        <tr>
          <th><%= i + 1 %></th>
          <th><p title="Mon Jan  6 22:53:17 2020"><%= "【#{game.year}年#{game.month}月（#{next_update_time.strftime("%d日%H時%M分%S秒")}）】" %></p></th>
          <th><%= command ? command.inputed_label : '-' %></th>
        </tr>
        <%
          game.add_month(1)
          next_update_time = next_update_time + 1.hours
        %>
      <% end %>
      </tbody></table>




      <form id="command_form" action="/command/update" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" id="token">
        <table bgcolor="#0f6080" cellspacing="1"><tbody bgcolor="#efffff">
        <tr><th bgcolor="#0f6080"><font color="#efffff">コマンド</font></th></tr>
        <tr><td>
          No:<select name="command_no[]" size="7" multiple="">
          <option value="<%= Command::ALL %>">ALL

          </option>
          <% game = @game.deep_dup %>
          <% Command::MAX_NUM.times do |i| %>
            <% command = @commands.find { |command| command.command_no == i } %>
            <option value="<%= i %>"><%= "#{i + 1}：【#{game.year}年#{game.month}月：#{command ? command.inputed_label : '-'}】 " %></option>
            <% game.add_month(1) %>
          <% end %>
          <script type="text/javascript">
          <!--
          function cbo_select(prmStartNo,prmPeriod){
            var intA;
            for(intA = 0;intA < document.all.no.options.length;intA++){
              document.all.no.options[intA].selected = false;
            }
            for(intA = prmStartNo;intA < document.all.no.options.length;intA = intA + prmPeriod){
              document.all.no.options[intA].selected = true;
            }
          }

          function CommSel(SEL1,SEL2){
            var SEL;
            LEN = document.all.no.options.length;
            if(SEL1 == null || SEL2 == null){
              SEL1 = document.all.SEL1.value * 1;
              SEL2 = document.all.SEL2.value * 1;
            }
            for(SEL = 0; SEL < LEN; SEL++){
              document.all.no.options[SEL].selected = false;
            }
            for(SEL = SEL1; SEL < LEN; SEL = SEL + SEL2){
              document.all.no.options[SEL].selected = true;
            }
          }

          // -->
        </script>
        </option></select><br>
          <input type="button" value="奇数" onclick="cbo_select(1,2)">
          <input type="button" value="偶数" onclick="cbo_select(2,2)"><br>
          No<select name="SEL1">
          <option value="1" selected="">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option></select>
          から<select name="SEL2">
          <option value="1" selected="">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select>
          ごとに
          <input type="button" value="選択" onclick="CommSel()">
        </td>
          <td>


            <select name="command_type" size="10" id="command_type">
              <option value="<%= Command::NONE %>">何もしない
              </option><option value="<%= Command::WAIT %>">待機（更新時間＋１～１０分）
              </option><option value="">== 内政 ==
              </option><option value="<%= Command::AGRICULTURE %>">農業開発(50G)(知力)
              </option><option value="<%= Command::AGRICULTURE_EXPANSION %>">農業用地拡大(50G)(知)
              </option><option value="<%= Command::COMMERCE %>">商業発展(50G)(知力)
              </option><option value="<%= Command::COMMERCE_EXPANSION %>">商業用地拡大(50G)(知)
              </option><option value="<%= Command::TECHNOLOGY %>">技術開発(50G)(知力)
              </option><option value="<%= Command::WALL %>">城壁強化(50G)(統率)
              </option><option value="<%= Command::WALL_EXPANSION %>">城壁拡張(50G)(統or武)
              </option><option value="<%= Command::WALL_DURABILITY %>">城壁耐久力強化(50G)(武力)
              </option><option value="<%= Command::RICE_ALMS %>">米施し(50R)(人望)
              </option><option value="<%= Command::MANY_RICE_ALMS %>">大量米施し(1000R)(仁)
              </option><option value="">
              </option><option value="">== 軍事 ==
              </option><option value="<%= Command::CONSCRIPTION %>">徴兵（兵士が増えます）
              </option><option value="11">兵士訓練（兵士の防御上昇）
              </option><option value="40">兵士猛訓練(500G)
              </option><option value="12">城の守備（守備につきます）
              </option><option value="61">後方守備（後方へ守備につく,500R）
              </option><option value="13">戦争(他国へ侵攻します)
              </option><option value="100">模擬戦(兵５０必要)
              </option><option value="">
              </option><option value="">== 計略 ==
              </option><option value="24">登用(成功報酬有り)
              </option><option value="43">一括内政(500G)(知力)
              </option><option value="60">一括拡張(500G)(知力)
              </option><option value="46">一夜城(500G)(統or武)
              </option><option value="52">召集
              </option><option value="">
              </option><option value="">== 鍛錬 ==
              </option><option value="26">能力強化()
              </option><option value="">
              </option><option value="">== 商人 ==
              </option><option value="14">米売買
              </option><option value="15">武器購入
              </option><option value="16">書物購入
              </option><option value="41">防具購入
              </option><option value="50">旗購入
              </option><option value="">
              </option><option value="">== 移動 ==
              </option><option value="17">移動
              </option><option value="21">仕官
              </option></select>
          </td>
          <td>

          </td>
        </tr>
        <tr><th colspan="3">
          <input type="button" value="実行" id="submit_command">


        </th></tr>
        <tr><td colspan="3">



          <form action="./command.cgi" method="POST">
            <table border="0"><tbody><tr><td>
              削除・挿入場所No.<br>
              <select name="nno" size="5" multiple="">

                <option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option><option value="48">48</option><option value="49">49</option><option value="50">50</option><option value="51">51</option><option value="52">52</option><option value="53">53</option><option value="54">54</option><option value="55">55</option><option value="56">56</option><option value="57">57</option><option value="58">58</option><option value="59">59</option><option value="60">60</option><option value="61">61</option><option value="62">62</option><option value="63">63</option><option value="64">64</option><option value="65">65</option><option value="66">66</option><option value="67">67</option><option value="68">68</option><option value="69">69</option><option value="70">70</option><option value="71">71</option><option value="72">72</option><option value="73">73</option><option value="74">74</option><option value="75">75</option><option value="76">76</option><option value="77">77</option><option value="78">78</option><option value="79">79</option><option value="80">80</option><option value="81">81</option><option value="82">82</option><option value="83">83</option><option value="84">84</option><option value="85">85</option><option value="86">86</option><option value="87">87</option><option value="88">88</option><option value="89">89</option><option value="90">90</option><option value="91">91</option><option value="92">92</option><option value="93">93</option><option value="94">94</option><option value="95">95</option></select>

            </td><td>

              <select name="mode" size="2">
                <option value="saku">コマンド削除
                </option><option value="tyuu">空白を注入
              </option></select>
            </td><td>
              空白を何個入れるか？<br>
              <select name="kazu" size="5">
                <option value="1" selected="">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option><option value="13">13</option><option value="14">14</option><option value="15">15</option><option value="16">16</option><option value="17">17</option><option value="18">18</option><option value="19">19</option><option value="20">20</option><option value="21">21</option><option value="22">22</option><option value="23">23</option><option value="24">24</option><option value="25">25</option><option value="26">26</option><option value="27">27</option><option value="28">28</option><option value="29">29</option><option value="30">30</option><option value="31">31</option><option value="32">32</option><option value="33">33</option><option value="34">34</option><option value="35">35</option><option value="36">36</option><option value="37">37</option><option value="38">38</option><option value="39">39</option><option value="40">40</option><option value="41">41</option><option value="42">42</option><option value="43">43</option><option value="44">44</option><option value="45">45</option><option value="46">46</option><option value="47">47</option></select>


            </td><td>
              <input type="submit" value="コマンド操作実行">
            </td></tr></tbody></table>
            <br>
            ↑複数選択できるようになりました

          </form></td></tr></tbody></table>








      </form></td></tr>

    </tbody></table>
</td></tr>






<tr><td colspan="2">
  <table width="100%" bgcolor="#884422"><tbody><tr><td bgcolor="#D0C088">■マップログ<br><font color="green">●</font><font color="0088CC"><b>[仕官]</b></font>新しく山葵が豆板醤国に仕官しました。(6日15時52分5秒)
    <br><font color="green">●</font>[放置]：唐辛子は削除されました。(6日15時40分37秒)
    <br><font color="green">●</font>7月:<font color="orange">収穫</font>で貢献した各武将に米が支払われました。(6日15時1分22秒)
    <br><br></td></tr></tbody></table>


  <hr>
  <table width="100%" bgcolor="#0f6080" cellspacing="1"><tbody><tr><td bgcolor="#efffff"><font color="#0f6080">平原の守備(人):</font></td></tr></tbody></table>

  <form action="mydata.cgi" method="post">
    ■手紙<br>

    <textarea name="message" cols="60" rows="2"></textarea>
    <select name="mes_id"><option value="">選択してください(誤爆防止：個人画面で消せます)</option><option value="7">豆板醤国へ</option><option value="111">平原の人へ</option><option value="333">伝説リプレイス部部隊の人へ</option><option value="rudy">ルーデウスさんへ</option><option value="rudy">ルーデウスさんへ</option><option value="haim">シュトロハイムさんへ</option><option value="0">無所属状態の人へ</option></select>
    <input type="submit" value="送信"></form>


  <form action="./tegamirogu.cgi" method="post">
    <input type="submit" value="手紙ログ">
  </form>
  <br><br>

  <table width="100%"><tbody>
  <tr><td width="50%" valign="top">

    SHOUYU宛:(10件)
    <table width="100%" bgcolor="008800"><tbody>
    <tr>
      <td width="100%" bgcolor="#000000">
        <font size="2" color="skyblue"><b>SHOUYUから砂糖へ</b></font><br><font size="2" color="#FFFFFF"><b>こんにちは<br>こんばんは</b><br>12/30/(Mon) 03:31</font>
      </td>
      <td width="70" bgcolor="#000000" align="center" valign="middle"><%= image_tag('34.gif') %></td>
    </tr>
    <tr>
      <td width="100%" bgcolor="#000000">
        <font size="2" color="#FFFFFF"><b><font color="orange"><a href="ranking6.cgi?id=rudy" target="_blank">砂糖</a>@</font>からSHOUYUへ</b> <br>「<b>そうですね</b>」<br>12/30/(Mon) 03:10</font></td>
      <td width="70" bgcolor="#000000" align="center" valign="middle"><%= image_tag('34.gif') %></td>
    </tr>
    </tbody></table>

    伝説リプレイス部部隊宛:(5件)
    <table width="100%" bgcolor="008800"><tbody>
    <tr>
      <td width="100%" bgcolor="#000000"><font size="2" color="#FFFFFF"><b><font color="orange"><a href="ranking6.cgi?id=n3yst" target="_blank">砂糖</a>@濮陽@豆板醤国</font>から伝説リプレイス部部隊へ</b> <br>「<b><font color="33CCFF"><b>[隊員]</b></font>ほげほげ</b>」<br>01/06/(Mon) 21:52</font></td>
      <td width="70" bgcolor="#000000" align="center" valign="middle">
        <%= image_tag('34.gif') %>
      </td>
    </tr>
    <tr>
      <td width="100%" bgcolor="#000000">
        <font size="2" color="#FFFFFF"><b><font color="orange"><a href="ranking6.cgi?id=munoumin" target="_blank">SHOUYU</a>@襄陽@豆板醤国</font>から伝説リプレイス部部隊へ</b> <br>「<b><font color="FFCC33"><b>[隊長]</b></font>寒いですね<br>雨が降ってきた</b>」<br>01/06/(Mon) 19:27</font>
      </td>
      <td width="70" bgcolor="#000000" align="center" valign="middle">
        <%= image_tag('34.gif') %>
      </td>
    </tr>

    </tbody></table>
    平原の人々へ:(5件)
    <table width="100%" bgcolor="880000"><tbody>
    <tr><td width="100%" bgcolor="#000000"><font size="2" color="#FFFFFF"><b><a href="ranking6.cgi?id=holo" target="_blank">砂糖</a>@平原@豆板醤国から</b><br><b>ここは平原です</b><br>01/06/(Mon) 18:03</font></td><td width="70" bgcolor="#000000" align="center" valign="middle"><%= image_tag('34.gif') %></td></tr>

    </tbody></table>
    SHOUYU宛密書:(5件)
    <table width="100%" bgcolor="008800"><tbody>
    <form action="./mydata.cgi" method="post"></form><input type="hidden" name="id" value="dummy"><input type="hidden" name="pass" value="dummy"><input type="hidden" name="hcon" value="7"><input type="hidden" name="hid" value="haim"><input type="hidden" name="hpos" value="49"><input type="hidden" name="mode" value="COU_CHANGE"><tr><td width="100%" bgcolor="#000000"><font size="2" color="#FFFFFF"><b><font color="skyblue">砂糖が豆板醤国への仕官を勧めています。</font><br></b>「<b>豆板醤国の使者:<br><br>士官してください<br><br><br></b>」<br><input type="hidden" name="hhid" value="砂糖"><input type="radio" name="sel" value="1">承諾する<input type="radio" name="sel" value="0">断る<input type="submit" value="返事"></font></td><td width="70" bgcolor="#000000"><%= image_tag('34.gif') %></td></tr>

    </tbody></table>
  </td><td valign="top">
    豆板醤国宛:(15件)
    <table width="100%" bgcolor="000088"><tbody>
    <tr>
      <td width="100%" bgcolor="#000000"><font size="2" color="FFCC33"><b><a href="ranking6.cgi?id=hentai2" target="_blank">砂糖</a>@西平@豆板醤国から豆板醤国へ</b></font><br><font size="2" color="#FFFFFF"><b>ようこそ<br>豆板醤へ<br><br>よろしく</b><br>01/06/(Mon) 22:02</font></td><td width="70" bgcolor="#000000" align="center" valign="middle"><%= image_tag('34.gif') %></td>
    </tr>
    </tbody></table>
    伝説リプレイス部部隊宛:(5件)
    <table width="100%" bgcolor="AA8833"><tbody>
    <tr>
      <td width="100%" bgcolor="#000000"><font size="2" color="orange"><b><a href="ranking6.cgi?id=n3yst" target="_blank">塩</a>から伝説リプレイス部へ</b></font><br><font size="2" color="#FFFFFF">  「<b><font color="00FF00">情報：塩が伝説リプレイス部部隊に入隊しました。</font></b><font color="00FF00">」<br>01/06/(Mon) 21:41</font></font></td>
    </tr>
    <tr>
      <td width="100%" bgcolor="#000000"><font size="2" color="orange"><b><a href="ranking6.cgi?id=unauna" target="_blank">七味</a>から伝説リプレイス部へ</b></font><br><font size="2" color="#FFFFFF">  「<b><font color="FF0000">情報：部隊から離脱しました。</font></b><font color="FF0000">」<br>01/06/(Mon) 21:37</font></font></td>
    </tr>
    </tbody></table>

  </td></tr>
  </tbody></table>
</td></tr>

<tr><td colspan="3">


  <table width="100%" bgcolor="#0f6080">


    <tbody><tr><th colspan="4" bgcolor="#efffff">
      <% @user.message_logs.each do |message_log|  %>
        <%= message_log.html_safe %><br>
      <% end %>
    </th></tr>
    <form action="./mylog.cgi" method="post"></form>
    <tr><th colspan="1" bgcolor="#efffff">
      <input type="submit" value="都市情報"></th><th colspan="1" bgcolor="#efffff"><form action="./mylog2.cgi" method="post">
      <input type="submit" value="国民コマンド確認">
    </form>
    </th><th colspan="1" bgcolor="#efffff"><form action="./mycou.cgi" method="post">
      <input type="submit" value="豆板醤国データ">
    </form></th><th colspan="1" bgcolor="#efffff"><form action="./mydata3.cgi" method="post">
      <input type="submit" value="個人データ＆過去ログ">
    </form></th></tr>



    </tbody></table>
</td></tr></tbody></table>



ホスト名：124x37x172x104.ap124.ftth.ucom.ne.jp<br>
ＩＰアドレス：124.37.172.104<br>
携帯識別番号：<br>
<hr size="0">
<center><font color="998877">CGI配布サイト 三国志NET Ver2.8 <a href="http://www3.to/maccyu2/" target="_top">maccyu</a><br><font color="998877">伝説の三国志NET　管理者：<a href="http://densetu.sakura.ne.jp/manual.html#15" target="_blank">伝説じじい</a> 副管理者：FS 史記更新：さやか<br>
  <a href="./index.cgi" target="_top">HOME</a>
  <a href="http://densetusaba.sblo.jp/" target="_blank">_</a>
</font></font></center>