<table border="0" width="100%" height="100%"><tbody><tr><td align="center">
  <table border="0" width="100%">
    <tbody><tr><th bgcolor="414141">
      <font color="ffffff"> - 徴 兵 - </font>
    </th></tr>
    <tr><td>
      <input type="hidden" name="no" value="0">
      <table bgcolor="#666666"><tbody bgcolor="#f1f1f1">
      <tr><th colspan="7" bgcolor="#666666"><font color="#f1f1f1">SHOUYU</font></th></tr>

      <tr><td rowspan="2" width="5"><img src="./image/34.gif" width="64" height="64"></td><td>武力</td><th>9</th><td>知力</td><th>21</th><td>統率力</td><th>95</th></tr>
      <tr><td>金</td><th>213163</th><td>米</td><th>161325</th><td>貢献</td><th>129</th></tr>
      <tr><td>所属国</td><th colspan="2">国</th><td>兵士</td><th>95</th><td>訓練</td><th>99</th></tr>
      </tbody></table>
    </td></tr>
    <tr><td>
      <tabel bgcolor="#AA0000"></tabel></td></tr><tr><td bgcolor="#000000">
      <font color="white">兵士を徴兵します。<br>種類の違う兵を雇うと以前まで雇っていた兵は解雇されます。<br>毎月維持費として兵１人につき米１を消費します。</font>
    </td></tr></tbody></table>
</td></tr>
<tr><td><br><br>
  <table border="2">
    <tbody><tr><th></th><th>計算式</th><th>その他</th></tr>
    <tr><th>攻撃力</th><th>武力＋兵攻撃力＋武器威力</th><td>※雑兵、鬼兵、賊、志願兵、攻城兵には武力による補正はありません</td></tr>
    <tr><th>防御力</th><th>兵守備力＋訓練度÷２＋防具守備力</th><th></th></tr>
    <tr><td colspan="3">「攻撃力が＋１２％」といった効果を持つスキルや陣形での「攻撃力」「防御力」とは上の計算式によって計算された数値を使用しています。<br>
      なので、特殊技能や陣形などの「攻撃力＋２０」といった追加補正は、「＋１２％」などの計算には含まれません。
      <br><br>
      例）攻撃力１００の武将が、「攻撃力が＋２０される」、「攻撃力が＋１０％になる」といったスキル、技能、陣形を持っていた場合、<br>
      最終攻撃力は１３０となります。（１００＋２０＋（１００×１０％）＝１３０）<br>

      　
    </td></tr>

    </tbody></table>
  <br>
  何名雇いますか？(※最大95人)
  <table bgcolor="#884422"><tbody bgcolor="#C0C088">
  <tr><th>種類</th><th>攻撃力</th><th>防御力</th><th>属性</th><th>特殊効果</th><th>必要技術</th><th>雇用金</th><th>人数</th><td></td></tr>
  <tr><th bgcolor="#884422" colspan="9">■<%= @user.officer_type_label %>■</th></tr>
  <% soldier_num = @user.leadership - @user.soldier_num %>
  <% @soldiers.each do |soldier| %>
  <tr>
    <th><%= soldier.name %><%= soldier.soldier_rank_label && "【#{soldier.soldier_rank_label}】" %></th>
    <th><%= soldier.base_status_label %>×<%= soldier.attack %></th>
    <th><%= soldier.base_status_label %>×<%= soldier.defense %></th>
    <th><%= soldier.attribute_label %></th>
    <th><%= soldier.skill_label %></th>
    <th><%= soldier.technology %></th>
    <th>金 <%= soldier.gold %></th>
    <td>
      <input type="text" name="soldier_num" value="<%= soldier_num %>" size="4" class="js-soldier_num">人
      <input type="hidden" name="soldier_type" value="<%= soldier.soldier_type %>" class="js-soldier_type">
    </td>
    <td>
      <input type="submit" value="雇う" class="js-submit_command">
    </td>
  </tr>
  <% end %>
  </tbody></table><br>
  <b></b>

  <form action="/conscription/update" method="POST" id="command_form">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="soldier_num">
    <input type="hidden" name="soldier_type">
    <% @command_nos.each do |command_no| %>
      <input type="hidden" name="command_no[]" value="<%= command_no %>">
    <% end %>
  </form>

  <%= button_to "戻る", home_index_url, {method: :get} %>
</td></tr></tbody></table>