<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <meta name="description" content="無料オンラインCGIゲーム、三国志NETです。１日１０分で楽しめます。">
    <meta name="keywords" content="三国志,三国志NET,ブラウザゲーム,ゲーム,オンラインゲーム,CGIゲーム,無料">
    <title>伝説の三国志NET 第七十六期</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= Gon::Base.render_data %>
    <%= javascript_pack_tag javascript_path %>
  </head>

  <body background="./image/o.gif" bgcolor="#E0E088" text="" link="#CCAA88" vlink="#AA8855" alink="#AA8855" leftmargin="0" marginwidth="0" marginheight="0">
    <%= yield %>
  </body>
</html>
